/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* Variables */
:root {
    /* colors */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;

    --text-col: #202124;
    --text-white: white;
    --dark-gray: #3c3c3c;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* Layout */
.container {
    width: 100%;
    padding: 0 1rem;
    border: 1px solid black;
}

.card {
    background-color: var(--primary-col-light);
    border-radius: 10px;
    padding: 1.5em;
    margin: 1em;
    /* DEBUG */
    border: 1px dotted blue;
}
.text-card {
    font-size: 1.6rem;
    color: var(--text-col);
    margin-top: 1em;

    /* DEBUG */
    background-color: antiquewhite;
}

.image-card,.icon-card{
   /* DEBUG */
   background-color: rgb(73, 190, 186); 
}

/* HEADER */

header {
    padding: 1rem 0;
    background-color: var(--primary-col);
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    display: none;
}

.hamburger-menu i,.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

/* MAIN */
/* about section */
#about{
    padding-top: 2em;
}

/* jumbo section */
#jumbo {
    width: 100%;
    background-color: var(--secondary-col);
    color: white;
    padding-top: 2em;

    /* DEBUG */
    height: 400px;
}

#jumbo .planning {
    margin: 1.5em;
}

/* MEDIA QUERIES */
/* Tablet 768px */

@media screen and (min-width: 768px) {
    /* MAIN */
    /* About section */
    #about .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    #about .card {
        width: calc(100% / 3 - (1.5rem * 2 / 3));
        margin-bottom: 1em 0;
    }

    #about .card:first-child {
        width: calc(100% / 3 * 2 - (1.5rem / 3));
    } 

    /* Testimonials section */
    #testimonials .card {
        display: flex;
    }

    #testimonials .container {
        padding-top: 2em;
    }
}

/* MEDIA QUERIES */
/* Desktop 992px */

@media screen and (min-width: 992px) {
    /* layout */
    .container {
        width: 70%;
        margin: 0 auto;
        max-width: 1200px;
    }

    /* HEADER */
    header .hamburger-menu {
        display: none;
    }

    header .menu {
        display: block;
    }


    .menu ul {
        display: flex;
        list-style-type: none;
    }

    .menu li {
        margin-left: 1.5em;
    }

    /* MAIN */
    /* Jumbo section */

    #jumbo .container {
        width: 60%;
        display: flex;
    }
}