/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* Variables */
:root {
    /* colors */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;

    --text-col: #202124;
    --text-white: white;
    --dark-gray: #3c3c3c;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

#jumbo, #benefits {
    width: 100%;
    background-color: var(--secondary-col);
    color: white;
    padding-top: 2em;
}

.icon-card {
    font-size: 6rem;
    color: var(--primary-col);
    margin-bottom: .3em;
}

/* UTILITIES */
/* button */
.btn {
    border: none;
    color: white;
    border-radius: 30px;
    padding: 8px 50px;
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* DEBUG */
    background-color: var(--primary-col);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 3rem;
    margin: 1em 0;
}

/* Layout */
.container {
    width: 100%;
    padding: 2.5em 1rem;
}

.cards {
    margin: 4em 0 4em;
}

.card {
    border-radius: 10px;
    padding: 2.5em;
    margin: 1em;
}
.text-card {
    font-size: 1.6rem;
    color: var(--text-col);
    margin-top: 1em;
}

/* HEADER */

header {
    padding: 1rem 0;
    background-color: var(--primary-col);
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    display: none;
}

.hamburger-menu i,.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

/* MAIN */
/* about section */
#about .container {
    padding-top: 2em;
}

#about .card {
    background-color: var(--primary-col-light);
}

#about h3 {
    color: var(--primary-col);
    margin-bottom: 1em;
    font-size: 2.2rem;
}

#about p {
    line-height: 1.5em;
    color: var(--dark-gray);
    font-weight: 600;
}

#about .card-small {
    text-align: center;
}

/* jumbo section */

#jumbo .planning {
    margin: 1.5em;
}

.image-planning {
    margin-bottom: 6em;
}

#jumbo p {
    font-size: 1.6rem;
    line-height: 1.5em;
    margin-bottom: 2em;
}

#jumbo .card {
    background-color: white;
    text-align: center;
    line-height: 3em;
}

.text-card i {
    background-color: var(--secondary-col);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Testimonials section */

#testimonials .container {
    padding-top: 2em;
}

.text-testimonials {
    text-align: center;
}

.text-testimonials h2{
    color: var(--secondary-col);
}

.text-testimonials p {
    font-size: 1.6rem;
    line-height: 1.5em;
}

#testimonials .card {
    background-color: var(--secondary-col);
    text-align: center;
}

#testimonials .image-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%
}

#testimonials .text-card p {
    font-size: 1.6rem;
    line-height: 1.5em;
    color: white;
}

.text-card p:last-child {
    margin-top: 1.5em;
    font-weight: 600;
}

/* Benefits section */
#benefits .container {
    padding-top: 2em;
    margin: 0 auto;
}

/* About us section */
#about-us .columns {
    padding: 1em;
    margin: 0 auto;
}

#about-us .col{
    padding: 2em 0;
}

#about-us .col img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


/* MEDIA QUERIES */
/* Tablet 768px */

@media screen and (min-width: 768px) {
    /* MAIN */
    /* About section */
    #about .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    #about .card {
        width: calc(100% / 3 - (1.5rem * 2 / 3));
        margin-bottom: 1em 0;
    }

    #about .card:first-child {
        width: calc(100% / 3 * 2 - (1.5rem / 3));
    } 

    /* Testimonials section */
    #testimonials .card {
        display: flex;
    }

    #testimonials .image-card img {
        width: 400px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%
    }

    #testimonials .text-card {
        text-align: start;
        margin-left: 2em;
    }

    /* Benefits section */
    #benefits .cards {
        display: grid;
        grid-template-columns: auto auto;
    }

    /* About us section */
    #about-us .columns {
        display: flex;
    }
    
}


/* MEDIA QUERIES */
/* Desktop 992px */

@media screen and (min-width: 992px) {
    /* layout */
    .container {
        width: 70%;
        margin: 0 auto;
        max-width: 1200px;
    }

    /* HEADER */
    header .hamburger-menu {
        display: none;
    }

    header .menu {
        display: block;
    }


    .menu ul {
        display: flex;
        list-style-type: none;
    }

    .menu li {
        margin-left: 1.5em;
    }

    /* MAIN */
    /* Jumbo section */

    #jumbo .container {
        width: 60%;
        display: flex;
    }

    /* Testimonials section */

    #testimonials .image-card img {
        width: 260px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%
    }

    /* Benefits section */

    #benefits .cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}